body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
}

#about img {
    width: 150px;
    border-radius: 50%;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#projects .project1, .project2 {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}


#resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#resume a {
    background-color: #45a049;
}

#contact p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.image1 {
    width: 900px;
    height: auto;
}
.image2 {
    width: 500px;
    height: auto;
}

